# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
*.log

# Rider
.idea/
*.sln.iml

# User-specific files
*.user
*.suo
*.userprefs

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# .NET
project.lock.json
artifacts/

# VSCode
.vscode/
